$beige: (
	bg-light: #efebe3,
	hover: rgba(lighten(#efebe3, 10%), 20%),
	text: #63564d,
	border: #b09f82,
);
$blue: (
	base: #89b8e4,
	light: #c4dcf2,
	text: darken(#89b8e4, 10%),
	border: #89b8e4,
	outline: #005fcc,
	hover: rgba(lighten(#89b8e4, 10%), 20%),
);
$green: (
	base: #50c4c8,
	light: #a8e2e4,
	bg-light: #a8e2e4,
	bg-dark: #50c4c8,
	text: darken(#50c4c8, 10%),
	border: #50c4c8,
	hover: rgba(lighten(#50c4c8, 10%), 20%),
);
$purple: (
	base: #f3f3ff,
	light: #e5e5ff,
	dark: #a898b9,
);
$navy: (
	light: #19197a,
	dark: #1f1f3a,
);
$pink: (
	light: #ffbad1,
	dark: #ff558c,
	text: #ff558c,
);
$white: (
	base: #fff,
	light: #fff,
	bg-light: #fff,
	text: #fff,
	border: #fff,
);

@function get($color, $type) {
	@if $color == 'beige' {
		@return map-get($beige, $type);
	}
	@if $color == 'blue' {
		@return map-get($blue, $type);
	}
	@if $color == 'green' {
		@return map-get($green, $type);
	}
	@if $color == 'purple' {
		@return map-get($purple, $type);
	}
	@if $color == 'navy' {
		@return map-get($navy, $type);
	}
	@if $color == 'pink' {
		@return map-get($pink, $type);
	}
	@if $color == 'white' {
		@return map-get($white, $type);
	}
}
