@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Noto+Color+Emoji&family=Noto+Sans+JP:wght@200;300;400&family=Noto+Sans+KR:wght@200;300;400&family=Noto+Serif+JP:wght@200;300;400&family=Noto+Serif+KR:wght@200;300;400&family=Open+Sans:wght@300;400&family=PT+Serif&display=swap');
$font: (
	ja: (
		serif: 'Noto Serif JP',
		sans: 'Noto Sans JP',
	),
	ko: (
		serif: 'Noto Serif KR',
		sans: 'Noto Sans KR',
	),
	en: (
		handdraw: 'Caveat',
		serif: 'PT Serif',
		sans: 'Open Sans',
	),
	emoji: 'Noto Color Emoji',
);

@function getSerif($lang) {
	@return getFontFamily($lang, 'serif');
}

@function getSans($lang) {
	@return getFontFamily($lang, 'sans');
}

@function getFontFamily($lang, $style) {
	@return map-get(map-get($font, $lang), $style), $style;
}

@function getEmoji() {
	@return map-get($font, 'emoji');
}

.ja {
	&.serif {
		font-family: getSerif(ja);
	}
	&.sans {
		font-family: getSans(ja);
	}
}

.ko {
	&.serif {
		font-family: getSerif(ko);
	}
	&.sans {
		font-family: getSans(ko);
	}
}

.en {
	&.serif {
		font-family: getSerif(en);
	}
	&.sans {
		font-family: getSans(en);
	}
	&.handdraw {
		font-family: map-get(map-get($font, en), handdraw);
	}
}

.emoji {
	font-family: getEmoji();
}
